<link rel="preload" id="opinew-font-awesome" href="https://cdn.opinew.com/styles/opw-icons/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://cdn.opinew.com/styles/opw-icons/style.css"></noscript>
<style id='opinew_product_plugin_css'>{{shop.metafields.opinew['opinew_product_plugin_css']}}</style>
<div id='opinew_config_container' style='display:none;' data-opw-lang='{{shop.metafields.opinew['opinew_lang']}}'  data-opwconfig='{{shop.metafields.opinew['opinew_config']}}'></div>
<script> var OPW_PUBLIC_KEY = "HP0ONUKUBEHYVUENZFG6";</script>
<script src="https://cdn.opinew.com/shop-widgets/static/js/index.f9a4c5ac.js" defer></script>
