{% if template == "product" %}
<div id="zooomystickycart"></div>
<script src="https://zooomyapps.com/cartreminder/ZooomyCart.js" data-shop="{{shop.permanent_domain}}" data-handle="{{product.handle}}" data-id="{{product.id}}"></script>
{% endif %}