{% include 'fi_styles' %}
<div class="health_challenge">
  <div class="hc_header">
    {% section 'fi_header' %}
  </div>
  <div class="hc_content page-width">
   	{% section 'blog_posts' %}
  </div>
</div>